<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group col-xs-4">

         <input type="text" class="form-control input-sm" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-left" role="navigation">
      <li class="header-nav-item">
      <a href="#">Pull requests</a>
      </li>
      <li class="header-nav-item">
      <a href="#">Issues</a>
      </li>
      <li class="header-nav-item">
      <a href="#">Gists</a>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>


<div class="container">
  
    <span class="author">
    <a href="#"><strong>hpradeep</strong></a>
    </span>
    <span class="path-divider">/</span>
    <strong><a href="#">Hash14Task</a></strong><br />
     <div class="dropdown">
  <button class="btn btn-default pull-right dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
     <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">code</a></li>
    <li role="presentation" class="active"><a href="#">Issues <span class="badge">0</span></a></li>
    <li role="presentation"><a href="#">Pull requests <span class="badge">2</span></a></li>
    <li role="presentation"><a href="#">Wiki</a></li>
    <li role="presentation"><a href="#">Pulse</a></li>
    <li role="presentation"><a href="#">Graphs</a></li>
    <li role="presentation"><a href="#">Settings</a></li>
    </ul>
</div>


   
<!-- /.navbar-collapse -->
 
  
<!-- /.con