<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
.container2{

         margin-left:50px;
         margin-right:50px;
         }
.container3{
   margin-right:250px;
   margin-left: 110px; 
}

</style>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group col-lg-4">

         <input type="text" class="form-control input-sm" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-left" role="navigation">
      <li class="header-nav-item">
      <a href="#">Pull requests</a>
      </li>
      <li class="header-nav-item">
      <a href="#">Issues</a>
      </li>
      <li class="header-nav-item">
      <a href="#">Gists</a>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>



  <div class="row-fluid">
    <div class="container">
  
      <span class="author">
      <div class="col-md-4">
      <a href="#"><strong>hpradeep</strong></a>
      </span>
      <span class="path-divider">/</span>
      <strong><a href="#">Hash14Task</a></strong><br />
      </div>
     <div class="col-md-4 pull-right">
     <div class="dropdown btn-group" role="group">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data- 
        toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Unwatch 
        <span class="caret"></span></button><button type="button" class="btn-group btn-xs btn btn-default">1</button>
        <ul class="dropdown-menu">
         <li><a href="#">HTML</a></li>
         <li><a href="#">CSS</a></li>
         <li><a href="#">JavaScript</a></li>
        </ul>
      </div>  
      <div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-xs" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    Star</button>
    <button type="button" class="btn-xs btn btn-default">1</button>
    </div>
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-default btn-xs" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
    Fork</button>
    <button type="button" class="btn-xs btn btn-default">1</button>
    </div>
    </div>
    
  </div>
</div>
    <div class="container">
     <ul class="nav nav-tabs">
    <li role="presentation"><a href="#">code</a></li>
    <li role="presentation" class="active">
    
    <a href="#"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>Issues <span class="badge">0</span></a></li>
    <li role="presentation"><a href="#">Pull requests <span class="badge">2</span></a></li>
    <li role="presentation"><a href="#">Wiki</a></li>
    <li role="presentation"><a href="#">Pulse</a></li>
    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Graphs</a></li>
    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Settings</a></li>
    </ul>
    </div><br />
    <div  class="container">
    <div class="row container2">
    <p class="col-md-6"><strong>attachment issues</strong> #6</p>
    <div class="col-md-2 pull-right">
    <button type="button" class="btn btn-sm btn-default">Edit</button>
    <button type="button" class="btn btn-sm btn-success">New Issue</button>
    </div>
   <br />
  </div>
     
     <div class="row container2 container">
      <button type="button" class="col-md-1  btn btn-sm btn-success"><span class="glyphicon glyphicon-exclamation-sign"></span> Open</button>
      <h5 class="col-md-8"><strong>hpradeep</strong> opened this issue 6 days ago</h5>
      
      </div><hr>
      
            
  </div>
<div class="container">
     <div class="container3 panel panel-default">

          <div class="panel-heading">hpradeep commented 6 days ago
            <div class="col-xs-2 pull-right">
              <button type="button" class="btn  btn-xs btn-default">owner</button>
              <button type="button" class="btn-link glyphicon glyphicon-pencil" title="edit" aria-hidden="true"></button>
            </div>
          </div>
           <div class="panel-body">body</div>
      </div>
      <div class=" container3 panel panel-default">
          <div class="panel-heading">hpradeep commented 7 days ago
           <button type="button" class=" pull-right btn  btn-xs btn-default">owner</button></div>
          <div class="panel-body">body</div>
      </div>
      
  </div>